.table {
  border: 1px solid #dee2e6;
  border-collapse: collapse;
  width: 50%;
}

.table-name {
  border:  1px solid #dee2e6;
  border-collapse: collapse;
  text-align: left;
	width: 20%;
	height: 40px;
	background: #f8f9fa;
}

.table-value {
  border:  1px solid #dee2e6;
  border-collapse: collapse;
  text-align: left;
	height: 40px;
}
.item-table {
	background: #FFFFFF !important;
	border-width: 1px 0 1px 0 !important;
}
